<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" charset="utf-8"></script>
    <title>Asset - Find & Found</title>

</head>
<body class="sb-nav-fixed">

    <main>
        <div class="container-fluid">

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="~/Home/Index">Asset</a></li>
                <li class="breadcrumb-item active">Find & Found</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Find & Found
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control" id="CountDropdown" name="CountDropdown"></select>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-Summary-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Found Summary</a>
                                    <a class="nav-item nav-link" id="nav-Found-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Found</a>
                                    <a class="nav-item nav-link" id="nav-NotFound-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Not Found</a>
                                    <a class="nav-item nav-link" id="nav-MissLocation-tab" data-toggle="tab" href="#nav-miss" role="tab" aria-controls="nav-contact" aria-selected="false">Miss Location</a>
                                </div>
                            </nav>
                            
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                    <div class="card " style="padding: 10px">
                                        <div class="card-header">
                                            Summary By Location
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered nowrap" id="LocationTable" width="100%" cellspacing="0">
                                                    <thead>

                                                    </thead>

                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card ">
                                        <div class="card-body"><canvas id="ChartLocation" width="100%" height="40"></canvas>
                                        </div>
                                    </div>
                                    <hr/>

                                    <div class="card ">
                                        <div class="card-header">
                                            Summary By Category
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered nowrap" id="CateTable" width="100%" cellspacing="0">
                                                    <thead>

                                                    </thead>

                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card ">
                                        <div class="card-body">
                                            <canvas id="mycanvas" height="280" width="570"></canvas>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                   <div align="center" style="padding-top: 20px">No data to display</div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">


                                    <div class="card ">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered nowrap" id="notFoundTable" width="100%" cellspacing="0">
                                                    <thead>

                                                    </thead>

                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="nav-miss" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div align="center" style="padding-top: 20px">No data to display</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

   


</html>
<script>

    $.ajax({
        type: "GET",
        url: "/project/GetFind",
        data: "{}",
        success: function(data) {
            var s;
            for (var i = 0; i < data.length; i++) {

                s += '<option value="' + data[i].CountID + '">' + data[i].CountID + ' | ' + data[i].CountDesc + '</option>';

            }
            $("#CountDropdown").html(s);
        }

    });


    $(document).ready(function() {

        var cs = $("#CountDropdown").val();

        $('#LocationTable').DataTable({
            ajax: {
                url: "/UserConfig/GetLocationAll",
                type: "get",
                dataSrc: ''
            },
            columns: [
                { data: "CompanyID", title: "Location ID", width: '100px' },
                { data: "Name1", title: "Location Name" },
                {
                    data: null,
                    title: "Project ID",
                    render: function(data, type, row) {
                        if (type === 'display') {
                            return cs;
                        }
                        return data;
                    },
                    width: '100px'
                },
                {
                    data: "SalePersonID",
                    title: "Found",
                    width: '30px',
                    render: function (data, type, row) {
                        if (data === '') {
                            return 0;
                        }
                        return data;
                    }
                },
                {
                    data: "Remark1",
                    title: "Not Found",
                    width: '30px',
                    render: function (data, type, row) {
                        if (data === '') {
                            return 0;
                        }
                        return data;
                    }
                },
                {
                    data: "Remark2",
                    title: "Miss Location",
                    width: '30px',
                    render: function (data, type, row) {
                        if (data === '') {
                            return 0;
                        }
                        return data;
                    }
                },
            ],
            select: true,
            dom: "Bfrtip",
            buttons: [
                //{
                //    text: "New"


                //},
                { extend: "excel" }
            ]
        });

        $('#CateTable').DataTable({
            ajax: {
                url: "/Project/getCount",
                type: "get",
                dataSrc: ''
            },
            columns: [
                { data: "ItemCate", title: "Asset Cate" },
                {
                    data: null,
                    title: "Found",
                    width: '50px',
                    render: function (data, type, row) {

                        return '<label>0</label>';
                    }
                },
                {
                    data: "Count",
                    title: "Not Found",
                    width: '50px'
                },
                {
                    data: null,
                    title: "Miss Location",
                    width: '50px',
                    render: function (data, type, row) {
                      
                        return '<label>0</label>';
                    }
                    
                }

            ],
            select: true,
            dom: "Bfrtip",
            buttons: [
                //{
                //    text: "New"


                //},
                { extend: "excel" }
            ],
            info: false
        });
        $('#notFoundTable').DataTable({
            ajax: {
                url: "/Project/getFound?id=" + $("#CountDropdown").val(),
                type: "get",
                dataSrc: ''
            },
            columns: [
                { data: "ItemID", title: "Asset ID" },
                
                {
                    data: "NameTH",
                    title: "Description",
                    width: '30px'
                },
                {
                    data: "CompanyID",
                    title: "Location",
                    width: '30px'
                },
                {
                    data:"OwnerName",
                    title : "Owner Name"
                },
                {
                    data:'CostCenter',
                    title:"Cost Center"
                }
            ],
            select: true,
            dom: "Bfrtip",
            buttons: [
                //{
                //    text: "New"


                //},
                { extend: "excel" }
            ]
        });


        debugger;

        $.fn.dataTable.ext.errMode = 'throw';
    });

</script>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Bar Chart Example
    var ctx = document.getElementById("ChartLocation");
    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["0010", "0020", "0030", "0040", "1000", "1010", "1020", "1030", "2000", "2010", "2020", "3010", "3020", "3030", "3040", "3050", "3060", "4000", "5000", "6000", "7000", "8000", "9000", "9006"],
            datasets: [{
                label: ['Found'],
                backgroundColor: ['#007bff'],
                borderColor: "rgba(2,117,216,1)",
                data: [0]
            },
            {
                label: [ 'Not Found'],
                backgroundColor: ['#dc3545'],
                borderColor: "rgba(2,117,216,1)",
                data: [8744,10,10]
            },
            {
                label: ['Miss Location'],
                backgroundColor: ['#ffc107'],
                borderColor: "rgba(2,117,216,1)",
                data: [0,0]
            }
            ]

            
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'Location'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 10000,
                        maxTicksLimit: 10
                    },
                    gridLines: {
                        display: true
                    }
                }],
            },
            legend: {
                display: false
            }
        }
    });

    $.ajax({
        url: "/Project/getCount",
        method: "GET",
        success: function (data) {
            var player = [];
            var score = [];
            for (var i in data) {
                player.push(data[i].ItemCate);
                score.push(data[i].Count);
            }

            var chartdata = {
                labels: player,
                datasets: [{
                    label: 'Found',
                    backgroundColor: 'blue',
                    borderColor: 'blue',
                    hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                    hoverBorderColor: 'rgba(200, 200, 200, 1)',
                    fill: false,
                    data: '',
                    responsive: true
                },
                {
                    label: 'Not Found',
                    backgroundColor:  'red',
                    borderColor:  'red',
                    hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                    hoverBorderColor: 'rgba(200, 200, 200, 1)',
                    fill: false,
                    data: score,
                    responsive: true
                },
                {
                    label: 'Misslocation',
                    backgroundColor: 'green',
                    borderColor: 'green',
                    hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                    hoverBorderColor: 'rgba(200, 200, 200, 1)',
                    fill: false,
                    data: '',
                    responsive: true
                }
                ]


            };
            var ctx = $("#mycanvas");
            var myLineChart = new Chart(ctx, {
                type: 'bar',
                data: chartdata,

            });
        },
        error: function (data) {
        }
    });
</script>