
<!DOCTYPE html>
<html>
<head>
    <title>Asset Management</title>
    
</head>
<body class="sb-nav-fixed">

<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"> Asset Management</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card  text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="fa fa-briefcase fa-3x" style="color: green"></i></span>
                    <div class="card-body">Asset (In use)</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="~/AssetInuse/Inuse">View</a>
                        <div class="small text-dark"><i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="fas fa-cubes  fa-3x" style="color: gold"></i></span>
                    <div class="card-body">Register project</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="~/RegisterProjectr/RegisterProject">View</a>
                        <div class="small text-dark"><i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card  text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="far fa-list-alt  fa-3x" style="color: black"></i></span>
                    <div class="card-body">Find &amp; Found</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="~/FindFound/FindFound">Report</a>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="far fa-list-alt  fa-3x" style="color: black"></i></span>
                    <div class="card-body">Asset Expire</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="~/AssetExpire/AssetExpire">Report</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="fas fa-exchange-alt fa-3x" style="color: green"></i></span>
                    <div class="card-body">Fixed Asset</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="~/Transfer/Transfer">View</a>
                        <div class="small text-dark">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="fas fa-qrcode fa-3x" style="color: black"></i></span>
                    <div class="card-body">Print QR code</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="~/QRCode/QRCode">View</a>
                        <div class="small text-dark">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="fa fa-upload fa-3x" style="color: blue"></i></span>
                    <div class="card-body">Asset data to Dynamics</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="#">Upload</a>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-dark mb-4" align="center">
                    <span style="padding-top: 30px"><i class="fa fa-download fa-3x" style="color: red"></i></span>
                    <div class="card-body">Asset data from Dynamics</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-dark stretched-link" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
