<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript">
        var id = window.location.pathname.split("/")[3];
        $(function () {
            setChartImage("300x300");
        });
        
        
        function setValue(option) {
            setChartImage(option.value);
        }

        function setChartImage(size) {
            debugger;
            var query = {
                cht: "qr", choe: "UTF-8",
                chs: size, 
                chl: id
            };
            var url = "http://chart.apis.google.com/chart?" + $.param(query);

            $("#chart").attr('src', url);

            $('#printqr').click(function () {

                myPrint('myfrm');
                return '';
            });



        }

        $.ajax({
            type: "GET",
            url: "/api/getItem?id=" + id,
            data: "{}",
            success: function(data) {
                var s = '';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].ItemID !== "") {
                        s += '<label >' + data[i].ItemID + '</label></br><label >' + data[i].NameTH + '</label></br><label >'+ data[i].CompanyID + '</label></br>';
                    }

                }
                $("#labelDetail").html(s);
                debugger ;

            }

        });
     
        
    </script>
    <style type="text/css">
        img#chart {
            margin: 0;
            background: #fff;
            border: 1px solid black;
        }
    </style>
    <title>Asset - QR Code Print</title>
   

</head>
<body class="sb-nav-fixed">
    
    <main>
        <div id="qrcodeTable"></div>
        <div class="container-fluid">
            
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="~/Home/Index">Asset</a></li>
                <li class="breadcrumb-item"><a href="~/QRCode/QRCode">QR Code</a></li>
                <li class="breadcrumb-item active">Print</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">

                        </div>
                        <div class="col-md-2"align="right"> 
                            <button class="form-control" id="printqr" >Print</button>

                        </div>
                    </div>
                    
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">

                            <select id="size" onchange="setValue(this)" class="form-control" >
                                <option value="50x50">50x50</option>
                                <option value="75x75">75x75</option>
                                <option value="100x100" >100x100</option>
                                <option value="150x150">150x150</option>
                                <option value="300x300" selected="selected">300x300</option>
                            </select>

                        </div>
                    </div>
                    <hr/>
                    <label for="chart">QR Code</label>
                    @*<div>
                        <div class="card-body" id="qrs">
                            <img id="chart" src="" alt="QR code"/>
                        </div>


                    </div>*@
                    <form id="myfrm">
                        <div class="row">
                            <div class="col-md-2" align="center">
                                <img id="chart" src="" />
                                <p id="labelDetail"></p>
                            </div>
                        </div>
                    </form>
                




</div>
            </div>

        </div>
    </main>
   



</body>


</html>
<script>
    function myPrint(myfrm) {
        var printdata = document.getElementById(myfrm);
        newwin = window.open("");
        newwin.document.write(printdata.outerHTML);
        newwin.print();
        newwin.close();
    }
</script>
