
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Asset - Edit Project</title>

</head>
<body class="sb-nav-fixed">
            <div class="container-fluid">

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Asset</a></li>
                    <li class="breadcrumb-item"><a href="~/RegisterProjectr/RegisterProject">Register Project</a></li>
                    <li class="breadcrumb-item active"> Edit</li>
                </ol>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <span style="padding: 0rem 1rem 0.5rem 0rem">Project No.</span>
                                    <input type="text" class="form-control " style="width: 100%" id="ProjectNo"  disabled/>
                                </div>
                                <div class="row">
                                    <span style="padding: 1rem 1rem 0.5rem 0rem">Project Date</span>
                                    <input type="date" class="form-control " style="width: 100%" id="ProjectDate" disabled />
                                </div>
                                <div class="row">
                                    <span style="padding: 1rem 1rem 0.5rem 0rem">Description</span>
                                    <textarea class="form-control" style="width: 100%" id="Description" disabled></textarea>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="left" style="padding-top: 10px">
                                                <input type="submit" id="btnFinish" value="Finish Project" class="btn btn-success" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="right" style="padding-top: 10px">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <input type="submit" id="btnGet" value="Save" class="btn btn-dark"/>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                                        <span type="submit" id="btnDel" style="padding-left: 10px">Delete Project</span>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Line Table
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered nowrap" id="AssetHeaderTable" width="100%" cellspacing="0">
                                        <thead>



                                        </thead>

                                        <tbody></tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
</body>


</html>





<script >
    
    var ProjectNo = $("#ProjectNo").val();
    var ProjectDate = $('#ProjectDate').val();
    var Description = $('#Description').val();
    $("#btnDel").click(function () {

        $.ajax({
            type: "POST",
            url: "/Project/DeleteProject?id=" + ProjectNo
        });
        alert("Delete : Success");
        window.location.href = "/RegisterProjectr/RegisterProject";
    });
    
    


    $("#btnFinish").click(function () {
        var ProjectNo = $("#ProjectNo").val();
        var ProjectDate = $('#ProjectDate').val();
        var Description = $('#Description').val();
        
        var Status = "CLOSE";
        var today = new Date();
        var dataAll = '{CountID: ' + JSON.stringify(ProjectNo) + ',CountDate: ' + JSON.stringify(ProjectDate) + ',CountDesc: ' + JSON.stringify(Description) + ',Status: ' + JSON.stringify(Status) + ',ModifiedDate: ' + JSON.stringify(today) + '}';



        $.ajax({
            type: "POST",
            url: "/Project/Create",
            data: dataAll,

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Succuss ");
                debugger;
            },
            failure: function (response) {
                alert(response.data);
            },
            error: function (response) {
                alert("Success");
                window.location.href = "/RegisterProjectr/RegisterProject";
            }
        });
        debugger;

    });
    $('#AssetHeaderTable tbody').on('click', 'tr', function () {
        $(this).toggleClass('checkbox');
    });

    $(document).ready(function () {
        //var AssetTable;
        //$("#btnGet").click(function () {
        //    var rowData = AssetTable.rows('.checkbox').data().toArray();
        //    var obj = jQuery.parseJSON(JSON.stringify(rowData));
        //    var result = new Array();
        //    for (var i = 0; i < obj.length; i++) {
        //        var LLocation = obj[i].CompanyID;
        //        var LitemID = obj[i].ItemID;
        //        var Lname = obj[i].NameTH;
        //        var LClass = obj[i].ItemCate;
        //        var LSubClass = obj[i].ItemType;
        //        var LCostCenter = obj[i].CostCenter;
        //        var Building = obj[i].Building;
        //        var Floor = obj[i].Floor;
        //        var Owner = obj[i].OwnerID;
        //        var Project = obj[i].CountID;
        //        var CountUniq = obj[i].CompanyID + i;
        //        var idFC = '#FC' + obj[i].ID;
        //        var check1 = $(idFC).is(":checked");
        //        var idFL = '#FL' + obj[i].ID;
        //        var check2 = $(idFL).is(":checked");
        //        var idML = '#ML' + obj[i].ID;
        //        var check3 = $(idML).is(":checked");


                

        //        var dataPost = { CompanyID: LLocation, CountID: Project, ItemID: LitemID, NameTH: Lname, ItemCate: LClass, ItemType: LSubClass, CurrentSysLocation: LCostCenter, CostCenter: LCostCenter, Building: Building, Floor: Floor, Owner: Owner, CountUniqID: CountUniq, FoundInCompany: check1, FoundInLocation: check2, MissLocation: check3 };
        //        debugger;
        //        result.push(dataPost);

                

        //    }
        //    debugger;
        //    var resultAll = JSON.stringify(result);
        //    $.ajax({
        //        type: "POST",
        //        url: "/Project/CreateLineTable",
        //        data: resultAll,

        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        success: function (response) {
        //            alert("Succuss ");
        //            debugger;
        //        },
        //        failure: function (response) {

        //        },
        //        error: function (response) {

        //            //window.location.href = "/RegisterProjectr/RegisterProject";
        //        }
        //    });
        //    debugger;

        //});
        
        var id = window.location.pathname.split("/")[3];
        
        
        $.ajax({
            
            url: "/Project/GetHeadCountID/",
            data: {
                id: id
            },
            success: function (data) {
                console.log(data);
                debugger;


                function leadingZero(value) {
                    if (value < 10) {
                        return "0" + value.toString();
                    }
                    return value.toString();
                }


                function formatDate(date) {
                    var dateformat = new Date(date);
                    return dateformat.getFullYear() + "-" + leadingZero(dateformat.getMonth()) + "-" + leadingZero(dateformat.getDay());
                }

                document.getElementById("ProjectNo").value = data[0].CountID;
                document.getElementById("ProjectDate").value = formatDate(data[0].CountDate);
                document.getElementById("Description").value = data[0].CountDesc;

            },
            error: function (data) {
                alert("error");
            }
        });
        AssetTable = $('#AssetHeaderTable').DataTable({
            scrollX: true,
            ajax: {
                type: "GET",
                url: "/Project/GetLineID/",
                data: { id: id },
                dataSrc: ''

            },
            columns: [
                {
                    data: "ID",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<div align="center"><input type="checkbox" checked="checked"  disabled></div>';
                        }
                        return data;
                    }, width: '30px'
                },
                { data: "ItemID", title: "Asset No." },
                { data: "NameTH", title: "Description" },
                { data: "CompanyName", title: "Location" },
                { data: "CheckStatus", title: "Check Status" },
                { data: "ItemType", title: "Class" },
                { data: "ItemCate", title: "Cate" },
                { data: "OwnerName", title: "Owner Name" },
                { data: "CostCenter", title: "Cost Center" },
                { data: "Building", title: "Building" },
                { data: "Floor", title: "Floor" },
                {
                    data: "FoundInCompany", title: "Found", render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === true) {
                                return '<div align="center"><input type="checkbox" checked="checked" id="FC' + row.ID + '" ></div>';
                            }
                            return '<div align="center"><input type="checkbox" id="FC' + row.ID + '" ></div>';
                        }
                        return data;
                    }, width: '30px'
                },
                {
                    data: "FoundInLocation", title: "Not Found", render: function (data, type, row) {
                        console.log(row);
                        if (type === 'display') {
                            if (data === true) {
                                return '<div align="center"><input id="FL' + row.ID + '" type="checkbox" checked="checked"></div>';
                            }
                            return '<div align="center"><input id="FL'+row.ID+'" type="checkbox"></div>';
                        }
                        return data;
                    }, width: '30px'
                },
                {
                    data: "MissLocation", title: "Miss Location", render: function (data, type, row) {
                        if (type === 'display') {
                            if (data === true) {
                                return '<div align="center"><input type="checkbox" checked="checked" id="ML' + row.ID + '"></div>';
                            }
                            return '<div align="center"><input type="checkbox" id="ML' + row.ID + '"></div>';
                        }
                        return data;
                    }, width: '30px'
                }
                

            ],
            select: false,
            dom: "Bfrtip",

            buttons: [
                { extend: "excel" }

            ]
        });
    });

</script>