
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <title>Cinfig - Edit</title>

</head>
<body class="sb-nav-fixed">
            <div class="container-fluid">

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active"><a href="~/UserPermission/UserGroupPermission">User Group Permission</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <b>Group Info</b>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <span style="padding: 0rem 1rem 0rem 0rem">Group ID</span>
                                    <input type="text" class="form-control " style="width: 100%" id="GroupID" required />
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div align="right" style="padding-top: 10px">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <input type="submit" id="btnGet" value="Save" class="btn btn-dark" />
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                                        <a class="dropdown-item" href="">
                                                            <span type="submit" id="btnDel">Delete</span>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card mb-4">
                            <div class="card-header">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-Summary-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
                                        <a class="nav-item nav-link" id="nav-Found-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Permission</a>


                                    </div>
                                </nav>
                            </div>
                            <div class="card-body">





                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-content tab-content-solid">
                                                            <div class="tab-pane fade show active" role="tabpanel">
                                                                <div class="row">

                                                                    <div class="col-md-6">
                                                                        <span>Group Name</span>
                                                                        <input type="text" class="form-control " style="width: 100%" id="GroupName" />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <span>Sort</span>
                                                                        <input type="text" class="form-control " style="width: 100%" id="Sort" />
                                                                    </div>
                                                                    <div class="col-md-3" align="center">
                                                                        <div style="padding-top: 25px">
                                                                            <span>Enable &nbsp;</span>
                                                                            <input type="checkbox" checked data-toggle="toggle" data-size="small" id="EnableDisable">
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                      
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">



                                        <div class="row">
                                            <div class="col-md-12">
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-Summary2-tab" data-toggle="tab" href="#nav-home2" role="tab" aria-controls="nav-home" aria-selected="true">Permission In Company</a>
                                                       
                                                        <a class="nav-item nav-link" id="nav-NotFound2-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">Permission In Menu</a>

                                                    </div>
                                                </nav>

                                                <div class="tab-content" id="nav-tabContent2">
                                                    <div class="tab-pane fade show active" id="nav-home2" role="tabpanel" aria-labelledby="nav-home-tab">

                                                        <table class="table table-bordered nowrap" id="UserCompanyTable" width="100%" cellspacing="0">
                                                            <thead>

                                                            </thead>

                                                            <tbody></tbody>
                                                        </table>


                                                    </div>
                                                    
                                                    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                        <table class="table table-bordered nowrap" id="UserMenuTable" width="100%" cellspacing="0">
                                                            <thead>

                                                            </thead>

                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
</body>


</html>






<script type="text/javascript">
    $("#btnGet").click(function () {

        var GroupName = $("#GroupName").val();
        var Sort = $('#Sort').val();
        var GroupID = $('#GroupID').val();


        var dataAll = '{UserGroupID: ' + JSON.stringify(GroupID) + ',GroupName: ' + JSON.stringify(GroupName) + ',Sort: ' + JSON.stringify(Sort) + '}';



        $.ajax({
            type: "POST",
            url: "/UserConfig/NewGroup",
            data: dataAll,

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Succuss ");
                debugger;
            },
            failure: function (response) {
                
            },
            error: function (response) {
                alert("Succuss ");
                window.location.href = "/UserPermission/UserGroupPermission";
            }
        });
        debugger;
    });

    $(document).ready(function() {
        
            $('#UserGroupTable').DataTable({
                ajax: {
                    url: "/Permission/GetUserGroupAll",
                    type: "get",
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "UserGroupID",
                        render: function (data, type, row) {
                            if (type === 'display') {

                                return '<div align="center"><input type="checkbox" ></div>';
                            }

                            return data;

                        },
                        width: "30px"
                    },
                    { data: "UserGroupID", title: "Group ID", width: "100px" },
                    { data: "GroupName", title: "Group Name" }

                ],
                dom: "Bfrtip",

                buttons: [
                    //{ extend: "print" }
                ],
                searching: false



            });
            $('#UserCompanyTable').DataTable({

                ajax: {
                    url: "/UserConfig/GetLocationAll",
                    type: "get",
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "CompanyID",
                        render: function (data, type, row) {
                            if (type === 'display') {

                                return '<div align="center"><input type="checkbox" checked="checked"></div>';
                            }

                            return data;

                        },
                        width: "30px"
                    },
                    { data: "CompanyID", title: "Company ID", width: "50px" },
                    { data: "Name1", title: "Description" }

                ],
                dom: "Bfrtip",

                buttons: [
                    //{ extend: "print" }
                ],
                searching: false



            });

            $('#UserMenuTable').DataTable({

                ajax: {
                    url: "/Permission/GetUserMenu",
                    type: "get",
                    dataSrc: ''
                },
                columns: [

                    { data: "GroupID", title: "Menu group", width: "100px" },
                    { data: "Name", title: "Menu name" },
                    {
                        data: "NeedOpenPermission", title: "Open", width: "50px",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                if (data === false) {
                                    return '<div align="center"><input type="checkbox" disabled="disabled"></div>';
                                } else {
                                    return '<div align="center"><input type="checkbox" checked="checked"></div>';
                                }

                            }

                            return data;

                        }

                    },
                    {
                        data: "NeedCreatePermission", title: "Create", width: "50px",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                if (data === false) {
                                    return '<div align="center"><input type="checkbox" disabled="disabled"></div>';
                                } else {
                                    return '<div align="center"><input type="checkbox" checked="checked"></div>';
                                }

                            }

                            return data;

                        }
                    },
                    {
                        data: "NeedEditPermission", title: "Edit", width: "50px",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                if (data === false) {
                                    return '<div align="center"><input type="checkbox" disabled="disabled"></div>';
                                } else {
                                    return '<div align="center"><input type="checkbox" checked="checked"></div>';
                                }

                            }

                            return data;

                        }
                    },
                    {
                        data: "NeedDeletePermission", title: "Delete", width: "50px",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                if (data === false) {
                                    return '<div align="center"><input type="checkbox" disabled="disabled"></div>';
                                } else {
                                    return '<div align="center"><input type="checkbox" checked="checked"></div>';
                                }

                            }

                            return data;

                        }

                    },
                    {
                        data: "NeedPrintPermission", title: "Print", width: "50px",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                if (data === false) {
                                    return '<div align="center"><input type="checkbox" disabled="disabled"></div>';
                                } else {
                                    return '<div align="center"><input type="checkbox" checked="checked"></div>';
                                }

                            }

                            return data;

                        }
                    }

                ],
                dom: "Bfrtip",

                buttons: [
                    //{ extend: "print" }
                ],
                searching: false



            });


        var id = window.location.pathname.split("/")[3];
        $.ajax({
            type: "GET",
            url: "/UserConfig/GetUserGroupId/",
            data: {
                id: id
            },
            success: function (data) {
                console.log(data);
                debugger;


                

                document.getElementById("GroupID").value = data[0].UserGroupID;
                document.getElementById("GroupName").value = data[0].GroupName;
                document.getElementById("Sort").value = data[0].Sort;

            },
            error: function (data) {

            }
        });


    });
    



</script>
<script type="text/javascript">

    $("#btnDel").click(function () {

        var GroupID = $("#GroupID").val();

        $.ajax({
            type: "POST",
            url: "/UserConfig/DeleteGroup?id=" + GroupID,
            success: function (response) {
                alert("Succuss ");
                window.location.href = "/UserPermission/UserGroupPermission";
                debugger;
            },
            failure: function (response) {
                alert("failure ");
            },
            error: function (response) {
                alert("error ");
                window.location.href = "/UserPermission/UserGroupPermission";
            }
        });
        debugger;
    });


</script>