<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Cinfig - Notity Sender</title>



</head>
<body class="sb-nav-fixed">

    <main>
        <div class="container-fluid">

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Notity Sender</li>
            </ol>

            <div class="card mb-12">
                <div class="card-body">
                    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="modal-title" id="exampleModalLabel">Sender Data</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="padding: 5px">
                                        <span>Topic</span>
                                        <input type="text" class="form-control " style="width: 100%" id="Topic" value="asset_report"  disabled="disabled"/>
                                    </div>
                                    <div class="row" style="padding: 5px">
                                        <span>SMTP</span>
                                        <input type="text" class="form-control " style="width: 100%" id="SMTP" value="smtp.gmail.com" />
                                    </div>
                                    <div class="row" style="padding: 5px">
                                        <span>Port</span>
                                        <input type="text" class="form-control " style="width: 100%" id="Port" value="587" />
                                    </div>
                                    <div class="row" style="padding: 5px">
                                        <span>Username</span>
                                        <input type="text" class="form-control " style="width: 100%" id="Username" value="goodapp.remote@gmail.com" />
                                    </div>
                                    <div class="row" style="padding: 5px">
                                        <span>Password</span>
                                        <input type="text" class="form-control " style="width: 100%" id="Locationname" value="**********" />
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped table-bordered nowrap" id="LocationTable" width="100%" cellspacing="0">
                            <thead>



                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>

        $(document).ready(function () {


            $('#LocationTable').DataTable({
                scrollX: true,
                ajax: {
                    url: "/APINotify/GetNotifySender",
                    type: "get",
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'ID',
                        render: function (data, type, row) {
                            return '<div align="center" data-toggle="modal" data-target="#basicExampleModal"><i class="far fa-edit fa-2x"></i></div>';

                        }, width: '30px'

                    },
                    { data: "SenderID", title: "Topic", width: '100px' },
                    { data: "Smtp", title: "SMTP", width: '100px' },
                    { data: "Port", title: "Port", width: '50px' },
                    { data: "Username", title: "Username" },
                ],
                select: true,
                dom: "Bfrtip",
                info :false,
                buttons: [
                    //{
                    //    text: "New"


                    //},
                    //{ extend: "excel" }
                ]
            });


            $.fn.dataTable.ext.errMode = 'throw';
        });
    </script>

</body>


</html>
