<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Cinfig - Send Notity</title>



</head>
<body class="sb-nav-fixed">

    <main>
        <div class="container-fluid">

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Send Notity</li>
            </ol>

            <div class="card mb-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-11">
                        </div>
                        <div class="col-md-1">
                            @*<a value="New" class="btn btn-primary" style="width: 100%; font-size: small" href="~/UserPermission/NewUserPermission"><i class="fas fa-plus-circle"></i>&nbsp; New</a>*@
                            <!-- Button trigger modal -->
                            <div align="right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp; New
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-title" id="exampleModalLabel">New Location</span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            
                                            <div class="row" style="padding: 5px">
                                                <span>E-MAIL</span>
                                                <input type="text" class="form-control " style="width: 100%" id="EMail" />
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="btnGet">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div class="table-responsive" >
                        <table class="table table-striped table-bordered nowrap" id="LocationTable" width="100%" cellspacing="0">
                            <thead>



                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        $("#btnGet").click(function () {

            var EMail = $("#EMail").val();


            var dataAll = '{NotifyValue: ' + JSON.stringify(EMail) + '}';



            $.ajax({
                type: "POST",
                url: "/APINotify/AddEmail",
                data: dataAll,

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Succuss ");
                    debugger;
                },
                failure: function (response) {
                    alert("Succuss ");
                    window.location.href = "/UserPermission/SendNotify";
                },
                error: function (response) {
                    alert("Succuss ");
                    window.location.href = "/UserPermission/SendNotify";
                }
            });
            debugger;
        });

        $("#btnDel").click(function () {

            var EMail = $("#EMail").val();

            $.ajax({
                type: "POST",
                url: "/APINotify/DeleteEmail?id=" + EMail
            });
            debugger;
        });
        $(document).ready(function () {


            $('#LocationTable').DataTable({
                scrollX: true,
                ajax: {
                    url: "/APINotify/GetSendNotify",
                    type: "get",
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'ID',
                        render: function (data, type, row) {
                            return '<div align="center"><i class="fas fa-trash fa-2x" id="btnDel" style="color: red" ></i></div>';

                        },width: '30px'

                    },
                    { data: "NotifyValue", title: "E-mail" }
                ],
                select: true,
                dom: "Bfrtip",
                info:false,

                buttons: [
                    //{
                    //    text: "New"


                    //},
                    { extend: "excel" }
                ]
            });


            $.fn.dataTable.ext.errMode = 'throw';
        });
    </script>

</body>


</html>
