
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Asset - Edit Transfer</title>

</head>
<body class="sb-nav-fixed">
    <form>
        <main>
            <div class="container-fluid">

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Asset</a></li>
                    <li class="breadcrumb-item"><a href="~/Transfer/Transfer">Transfer</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Transfer
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <span style="padding: 0rem 1rem 0.5rem 0rem">Transfer No.</span>
                                    <input type="text" class="form-control " style="width: 100%" id="TransferNo" disabled="disabled" />
                                </div>
                                <div class="row">
                                    <span style="padding: 1rem 1rem 0.5rem 0rem">Transfer Date</span>
                                    <input type="date" class="form-control " style="width: 100%" id="TransferDate" required />
                                </div>
                                <div class="row">
                                    <span style="padding: 1rem 1rem 0.5rem 0rem">Location From</span>
                                    <select class="form-control" style="width: 100%" id="LocationFrom" required></select>
                                </div>
                                <div class="row">
                                    <span style="padding: 1rem 1rem 0.5rem 0rem">Location To</span>
                                    <select class="form-control" style="width: 100%" id="LocationTo" required></select>
                                </div>
                                <div class="row">
                                    <span style="padding: 1rem 1rem 0.5rem 0rem">Department</span>
                                    <select class="form-control" style="width: 100%" id="Department">
                                        <option></option>
                                        <option value="IT Naja">IT Naja</option>
                                        <option value="LOGISTIC">LOGISTIC</option>
                                        <option value="TRANSPORTS">TRANSPORTS</option>
                                        <option value="ACCOUNTING">ACCOUNTING</option>
                                        <option value="SALES">SALES</option>
                                        <option value="WAREHOUSE">WAREHOUSE</option>
                                    </select>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div align="right" style="padding-top: 10px">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <input type="submit" id="btnGet" value="Save" class="btn btn-dark" />
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                                        <a class="dropdown-item" href="">
                                                            <span type="submit" id="btnDel">Delete</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Line Table
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered nowrap" id="AssetHeaderTable" width="100%" cellspacing="0">
                                        <thead>



                                        </thead>

                                        <tbody></tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </form>
</body>


</html>
<script type="text/javascript">

        $("#btnDel").click(function () {

            var TransferNo = $("#TransferNo").val();

            $.ajax({
                type: "POST",
                url: "/transferapi/Delete?id=" + TransferNo
            });
            window.location.href = "/Transfer/Transfer";
        });


</script>

<script type="text/javascript">
        $("#btnGet").click(function () {

            var TransferNo = $("#TransferNo").val();
            var TransferDate = $('#TransferDate').val();
            var LocationFrom = $('#LocationFrom').val();
            var LocationTo = $('#LocationTo').val();
            var Department = $('#Department').val();

            var dataAll = '{ProdID: ' + JSON.stringify(TransferNo) + ',ProdDate: ' + JSON.stringify(TransferDate) + ',CompanyID: ' + JSON.stringify(LocationFrom) + ',CostCenter: ' + JSON.stringify(LocationTo) + ',DocumentInfo: ' + JSON.stringify(Department) + '}'



            $.ajax({
                type: "POST",
                url: "/transferapi/create",
                data: dataAll,

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Succuss ");
                    debugger;
                },
                failure: function (response) {
                    alert(response.data);
                },
                error: function (response) {
                    alert(response.data);
                }
            });
            debugger;
            window.location.href = "/Transfer/Transfer";
        });


</script>

<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/api/getAlllocation",
            data: '{}',
            success: function (data) {
                var s='<option value="-1"></option>';
                var c='<option value="-1"></option>';

                for (var i = 0; i < data.length; i++) {
                    if (data[i].CompanyID !== "") {
                        s += '<option value="' + data[i].CompanyID + '">' + data[i].CompanyID + ' | ' + data[i].Name1 + '</option>';
                        c += '<option value="' + data[i].CompanyID + '">' + data[i].CompanyID + ' | ' + data[i].Name1 + '</option>';
                    }
                }
                //$("#TransferNo").val() = '_' + Math.random().toString(36).substr(2, 9);
                $("#LocationFrom").html(s);
                $("#LocationTo").html(c);
                
            }
        });
        var id = window.location.pathname.split("/")[3];

            var AssetTable= $('#AssetHeaderTable').DataTable({
                ajax: {
                    url: "/transferapi/getLineID/",
                    data: {
                        id: id
                    },
                    type: "get",
                    dataSrc: ''
                },
                columns: [
                    { data: "ItemID", title: "Asset No." },
                { data: "ItemName", title: "Description" },
                { data: "ItemCateID", title: "Class" },
                { data: "ItemTypeID", title: "Sub Class" },
                { data: "QtyOrder", title: "Quantity"},
                { data: "Packaging", title: "Unit" },



                ],
                select: true,
                dom: "Bfrtip",
                info:false,

                buttons: [
                    //{
                    //    text: "New"


                    //},
                    { extend: "excel" }

                ]
            });


            $.fn.dataTable.ext.errMode = 'throw';



            

            $.ajax({
                type: "GET",
                url: "/transferapi/getid/",
                data: {
                    id: id
                },
                success: function (data) {
                    console.log(data);
                    debugger;


                    function leadingZero(value) {
                        if (value < 10) {
                            return "0" + value.toString();
                        }
                        return value.toString();
                    }


                    function formatDate(date) {
                        var dateformat = new Date(date);
                        return dateformat.getFullYear() + "-" + leadingZero(dateformat.getMonth()) + "-" + leadingZero(dateformat.getDay());
                    }


                    document.getElementById("TransferNo").value = data[0].ProdID;
                    document.getElementById("TransferDate").value = formatDate(data[0].ProdDate);
                    document.getElementById("LocationFrom").value = data[0].CompanyID;
                    document.getElementById("LocationTo").value = data[0].CostCenter;
                    document.getElementById("Department").value = data[0].DocumentInfo;

                },
                error: function (data) {

                }
            });


    });
</script>